/** Built with SASS **/
$sectionPadding: 2em;

body {
  padding: 0 3em 3em 3em;
}

@media screen and (max-width: 645px){
	.contactDet {
		position: fixed;
	}
}

hr {
	margin-left: 0;
	margin-right: 0;
}

@mixin hrWidth($width){
		width: $width;
}

@mixin margin($margin){
	-webkit-margin: $margin;
	-moz-margin: $margin;
	-ms-margin: $margin;
	margin: $margin;
}

@mixin quietLinks {
	a, a:hover{
		color: #666666;
		text-decoration: none;
	}
}

div, header, footer, section {
	// border: 1px dotted; //debug
	font-family: 'ralewayregular', Arial;
	font-size: 16px;
	color: #666666;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.pageContainer, .sectionHeading, .headerContent, .mainContent, .footerContent, .aboutMe{
	display: flex;
}

.pageContainer {
	flex-direction: column;
}

.headerContent {
	flex-direction: row;
	justify-content: center;
	padding: $sectionPadding;
	position: relative;
		.firstName {
			font-family: 'ralewayextralight', Arial;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			@include margin(0);
			@include quietLinks;
		}
		.lastName {
			font-family: 'ralewaymedium', Arial;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			@include margin(0);
			@include quietLinks;
		}
}

.contactDet {
	position: absolute;
	bottom: 0;
	letter-spacing: 0.25em;
	white-space: nowrap;
}

.sectionHeading{
	justify-content: center;
	padding: $sectionPadding;
}

.sectionTitle {
	font-family: 'ralewaymedium', Arial;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 0.25em;
	@include margin(0);
	border-bottom: 1px solid #E0E0E0;
}

.aboutMe {
	.container {
		justify-content: center;
	}
}

.mainContent {
	flex-direction: column;
	align-items: stretch;
	.row {
		display: flex;
		flex-direction: row;
		@include margin(0);
		.left{
			text-align: left;
			flex: 0.5;
			@include margin(0.5em);
		}
		.right{
			text-align: right;
			flex: 0.5;
			@include margin(0.5em);
		}
	}
	padding: 0 $sectionPadding;
}

.footerContent {
	flex-direction: column;
	align-items: space-around;
	.sectionHeading{
		@include quietLinks;
	}
}