/** Built with SASS **/
$sectionPadding: 2em;

body {
  padding: 0;
  color: 'black';
}

hr {
	margin-left: 0;
	margin-right: 0;
}

@mixin hrWidth($width){
		width: $width;
}

@mixin margin($margin){
	-webkit-margin: $margin;
	-moz-margin: $margin;
	-ms-margin: $margin;
	margin: $margin;
}

@mixin quietLinks {
	a, a:hover{
		color: #666666;
		text-decoration: none;
	}
}

div, header, footer, section {
	// border: 1px dotted; //debug
	font-family: 'ralewayregular', Arial;
	font-size: 16px;
	color: #666666;
}

.wrapper {
	width: 90%;
	margin: 0 auto;
}

.hidden{
	display: none;
}

.pageContainer, .sectionHeading, .headerContent, .mainContent, .footerContent, .aboutMe{
	display: flex;
}

.pageContainer {
	flex-direction: column;
}

.headerContent {
	flex-direction: row;
	justify-content: center;
	padding: $sectionPadding;
	position: relative;
		.firstName {
			font-family: 'ralewayextralight', Arial;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			@include margin(0);
			@include quietLinks;

		}
		.lastName {
			font-family: 'ralewaymedium', Arial;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			@include margin(0);
			@include quietLinks;
		}
}

.contactDet {
	position: absolute;
	bottom: 0;
	letter-spacing: 0.25em;
	white-space: nowrap;
}

.sectionHeading{
	justify-content: center;
	padding: $sectionPadding;
}

.sectionTitle {
	font-family: 'ralewaymedium', Arial;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 0.25em;
	@include margin(0);
	border-bottom: 1px solid #E0E0E0;
}

.aboutMe {
	.container {
		justify-content: center;
	}
}

.sideBySideWrap {
	display: flex;
	flex-direction: row;
}

.sideBySide {
	flex: 0.5;
}

.mainContent {
	flex-direction: column;
	align-items: stretch;
	.row, .projRow {
		display: flex;
		flex-direction: row;
		background-color: #fff;
		.expanded {
			background-color: #E0E0E0;
		}
		@include margin(0);
		.left{
			text-align: left;
			flex: 0.5;
			@include margin(0.5em);
		}
		.right{
			text-align: right;
			flex: 0.5;
			@include margin(0.5em);
		}
		.projExLeft{
			text-align: left;
			flex: 0.25;
			@include margin(0.5em);
		}
		.projExRight{
			text-align: justify;
			flex: 0.75;
			@include margin(0.5em);
		}
		&:hover {
			background-color: #E0E0E0;
		}
	}
	//skills section
	.skillsWrap{
		flex-direction: row;
		display: flex;

		.skillsColumn{
			flex: 1;
			flex-direction: column;
			@include margin(0);

			.skillsHeader{
				font-size: 18px;
				font-weight: bold;
				padding: 0 0 0 2em;
			}

			ul {
				list-style: none;
			}
		}
	}

	padding: 0 $sectionPadding;
}

.expansion {
	display: none;
}

.footerContent {
	flex-direction: column;
	align-items: space-around;
	
	.sectionHeading{
		@include quietLinks;
		flex-direction: row;
		
		.icon{
			@include margin(0.5em);
		}
	}
}

@media all and (max-width: 645px) {
	/*---- Mobile Styling ---*/
	body {
		padding: 0 1em;
	}
	.wrapper {
		width: 90%;
		margin: 0 auto;
	}

	.sectionHeading {
		padding: 2em 0;
	}

	.sideBySideWrap{
		flex-direction: column;
	}
	.mainContent {
		padding: 0;
	}

	.sectionHeading .sectionTitle{
		transition: font-size 0.4s ease;
		font-size: 18px;
	}

	.firstName, .lastName{
		transition: font-size 0.4s ease;
		font-size: 1.5rem;
	}
	.contactDet {
		transition: font-size 0.4s ease;
		font-size: 0.75rem;
	}

	.mainContent .skillsWrap {
		flex-wrap: wrap row;
	}
}