body{
	text-align: center;
}

h1 {
	font-family: 'montserratbold', 'Century Gothic';
	font-size: 48px;
}

.outer-wrap {
	padding-top: 200px; 
	padding-bottom: 200px;
}

.black-back {
	background-color: black;
}